/* CSS files add styling rules to your content */

body {
  font-family: arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: arial, sans-serif; 
  color: MintCream;
  text-align: center;
}

p {
  text-align: center;
  color: MintCream;
}

button {
  color: MidNightBlue;
  outline: none;
  width: 60px;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid slategrey;
  cursor: pointer
}

#winImg {
  display: flex;
  justify-content: center;
}
#loseImg {
  display: flex;
  justify-content: center;
}

#startStopBtn > button {
  background-color: SpringGreen;
  position: relative;
  opacity: .6;
  transition: .3s;
  
}
#startStopBtn > button:hover {
  opacity:1
}
#startStopBtn > button:active {
  
  transform: translateY(3px);
}
#startStopBtn {
  display: flex;
  justify-content: center;
}
#gameBtnArea > button {
  
  width:80px;
  height:280px;
  margin:1px; 
}
#gameBtnArea {
  padding: 5px;
  display: flex;
  justify-content: center;
}
#gameBtn1 {
  background: lightgreen;
}
#gameBtn1:active, #gameBtn1.lit {
  background:green;
}
#gameBtn2 {
  background: lightblue;
}
#gameBtn2:active, #gameBtn2.lit {
  background:blue;
}
#gameBtn3 {
  background: pink
}
#gameBtn3:active, #gameBtn3.lit {
  background: red;
}
#gameBtn4 {
  background: lightyellow;
}
#gameBtn4:active, #gameBtn4.lit {
  background: yellow;
}

#gameBtn5 {
  background: LightSteelBlue;
}
#gameBtn5:active, #gameBtn5.lit {
  background: SteelBlue;
}
#gameBtn6 {
  background: LightSeaGreen;
}
#gameBtn6:active, #gameBtn6.lit {
  background: SeaGreen;
}
#gameBtn7 {
  background: LightCoral
}
#gameBtn7:active, #gameBtn7.lit {
  background: Coral;
}
#gameBtn8 {
  background: LightCyan;
}
#gameBtn8:active, #gameBtn8.lit {
  background: Cyan;
}
.hidden {
  display: none;
}